# Objective

This notebook was created to extract the data from the [MOSAIC.xlsx](../MOSAIC.xlsx) file and save it in a more convenient format.

In [1]:
import pandas as pd

In [25]:
# "Background" sheet

background_df = pd.read_excel('../MOSAIC.xlsx', sheet_name='Background')
background_df = background_df.iloc[:, [0, -1, -2, -3, -4]] # Select the columns of interest
background_df.columns = background_df.columns.str.strip() # Remove leading/trailing whitespaces
background_df = background_df.drop(0) # Remove the first row (it contains the units)
background_df = background_df.infer_objects(copy=False) # Infer the data types
background_df = background_df.fillna(0) # Replace NaN with 0
background_df.to_csv('../data/Background.csv', index=False)
background_df.head()

   Wavelength  Sky NO MOON+Th  Sky ALL+Th  Sky NO MOON     Sky ALL
1      390.00       52.690689  261.532774    52.690689  261.532774
2      390.02       67.880186  336.609002    67.880186  336.609002
3      390.04       78.508924  388.907637    78.508924  388.907637
4      390.06       84.372190  417.560455    84.372190  417.560455
5      390.08       86.927614  430.006866    86.927614  430.006866

In [15]:
# "EE" sheet

ee_df = pd.read_excel('../MOSAIC.xlsx', sheet_name='EE')
ee_df = ee_df.iloc[:, [0, -1, -2, -3, -4]] # Select the columns of interest
ee_df.columns = ['Wavelength', 'EE-IFU-ZA45 Durham', 'EE-HR-ZA45 Durham VIS', 'EE-LR-ZA45 Durham NIR', 'EE-LR-ZA45 Durham VIS'] # Rename the columns
ee_df = ee_df.drop(0) # Remove the first row
ee_df = ee_df.infer_objects(copy=False) # Infer the data types
ee_df = ee_df.fillna(0) # Replace NaN with 0
ee_df.to_csv('../data/EE.csv', index=False)
ee_df.head()

,Wavelength,EE-IFU-ZA45 Durham,EE-HR-ZA45 Durham VIS,EE-LR-ZA45 Durham NIR,EE-LR-ZA45 Durham VIS
1,375.0,0.0,0.462647,0.0,0.428470
2,400.0,0.0,0.474794,0.0,0.440861
3,425.0,0.0,0.486203,0.0,0.452501
4,450.0,0.0,0.496960,0.0,0.463476
5,475.0,0.0,0.507136,0.0,0.473856

In [20]:
# "Throughput" sheet

throughput_df = pd.read_excel('../MOSAIC.xlsx', sheet_name='Throughput', usecols='O:T', skiprows=1)
throughput_df.columns = ['Wavelength LR', 'VIS-LR', 'NIR-LR', 'Wavelength HR', 'VIS-HR', 'NIR-HR'] # Rename the columns
throughput_df = throughput_df.infer_objects(copy=False) # Infer the data types
throughput_df = throughput_df.fillna(0) # Replace NaN with 0
throughput_df.to_csv('../data/Throughput.csv', index=False)
throughput_df.head()

   Wavelength LR    VIS-LR  NIR-LR  Wavelength HR    VIS-HR  NIR-HR
0          0.390  0.060696     0.0          0.390  0.042220     0.0
1          0.415  0.130682     0.0          0.415  0.104921     0.0
2          0.440  0.172800     0.0          0.440  0.132986     0.0
3          0.465  0.209638     0.0          0.450  0.000000     0.0
4          0.490  0.222201     0.0          0.460  0.000000     0.0